<?php

include_once $_SERVER['DOCUMENT_ROOT'] . "/core/tools/db.php";

$cnnSWOP = get_or_setup_db_conn(
    "SWOP",
    new ConnectionMaker("DB_SERVER", "SWOP_DB_USER", "SWOP_DB_PASS", "SWOP_DB_NAME"));

?>
