bickerdike/include/dbconnopen.php
enlace/include/dbconnopen.php
include/dbconnopen.php
lsna/include/dbconnopen.php
swop/include/dbconnopen.php
trp/include/dbconnopen.php
liscdata
/.vagrant

# Allow for local experimental development, for lack of a PHP REPL
/sandbox
