<?php

$cnnBickerdike = mysqli_connect("DB_SERVER", "BICKERDIKE_DB_USER", "BICKERDIKE_DB_PASS", "BICKERDIKE_DB_NAME")
	or die ("Error Connecting To The Database Because: " . mysqli_connect_error());

?>
