#!/bin/sh

# This script runs on a remote server and pulls the prod backup to
# that remote server; see also export-backup.tmpl.

URL=__URL__
BACKUP_PREFIX=__BACKUP_PREFIX__

cd __DEST_DIR__

DATE_YMD_PREFIX="__DATE_YMD_PREFIX__"

### TODO: Neither of these is working on dev yet, although the curl
### works locally.  Not sure what the problem is, but we need to solve
### it, or we'll be copying backup files by hand forever.

# wget --no-check-certificate \
#      ${URL}/${BACKUP_PREFIX}-`(date +${DATE_YMD_PREFIX})`.tar.gz.asc
curl -k ${URL}/${BACKUP_PREFIX}-`(date +${DATE_YMD_PREFIX})`.tar.gz.asc \
  > ${BACKUP_PREFIX}-`(date +${DATE_YMD_PREFIX})`.tar.gz.asc
